<% layout("layouts/boilerplate.ejs") %>
<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/campgrounds" method="POST" class="mb-3 needs-validation" novalidate
            enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" required>
                <div class="invalid-feedback">
                    Please provide a Title.
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" id="location" name="location" required>
                <div class="invalid-feedback">
                    Please provide a valid Location.
                </div>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control" placeholder="Write a description" id="description" style="height: 100px"
                    name="description" required></textarea>
                <label for="description">Description</label>
                <div class="invalid-feedback">
                    Please provide a Description.
                </div>
            </div>
            <div class="mb-3">
                <div>
                    <label for="price" class="form-label">Campground Price</label>
                </div>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" aria-label="Amount" id="price" name="price" required
                        step="any">
                    <span class="input-group-text">.00</span>
                    <div class="invalid-feedback">
                        Please provide a Price.
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Choose images</label>
                <input type="file" class="form-control" name="image" id="image" required multiple>
            </div>
            <button type="submit" class="btn btn-success w-100">Submit</button>
        </form>
    </div>
</div>